body {
  font: 400 15px/1.8 Arial;
  color: #777;
  background: #fff;
  padding-top: 40px;
}
h1{
  margin: 20px 0 10px 0;
  letter-spacing: 7px;
  font-size: 30px;
  color: #111;
}
h2{
  margin: 20px 0 10px 0;
  letter-spacing: 5px;
  font-size: 26px;
  color: #111;
}
h3{
  margin: 10px 0 10px 0;
  letter-spacing: 4px;
  font-size: 20px;
  color: #111;
}
h4 {
  margin: 10px 0 10px 0;
  letter-spacing: 2px;
  font-size: 16px;
  color: #111;
}
.container {
  padding: 20px 120px;
}
.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7;
}
.person:hover {
  border-color: #f1f1f1;
}
.carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%); /* make all photos black and white */
  width: 100%; /* Set width to 100% */
  margin: auto;
}
.carousel-caption h3 {
  color: #fff !important;
}
.bg-1 {
  background: #2d2d30;
  color: #bdbdbd;
  opacity: 0.9;
}
.bg-1 h3{
  margin: 10px 0 10px 0;
  letter-spacing: 4px;
  font-size: 20px;
  color: #bdbdbd;
}
.bg-1 p {font-style: italic;}
.bg-1 .panel {
  background: #2d2d30;
  border: none;
}
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail p {
  margin-top: 15px;
  color: #555;
}
.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}
.btn-info {
  padding: 10px 20px;
  background-color: #1ea8cb;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}
.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}
.nav-tabs li a {
  color: #777;
}
#googleMap {
  width: 100%;
  height: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.navbar {
  font-family: Arial;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 3px;
  opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}
.dropdown-menu li a {
  color: #000 !important;
}
.dropdown-menu li a:hover {
  background-color: #1ea8cb !important;
}
footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
  opacity: 0.9;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  color: #777;
  text-decoration: none;
}
.form-control {
  border-radius: 0;
}
textarea {
  resize: none;
}
.tab-pane {
  text-align: left;
}
bg-1 tr, th {
  border-bottom: 1px solid #bdbdbd;
  padding: 5px 5px 5px 5px;
  text-align: center;
}
bg-1 tr, td {
  padding: 5px 5px 5px 5px;
  text-align: center;
}
.admonition {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.carousel-indicators {
  bottom:-30px;
}
.carousel-inner {
   margin-bottom:30px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #2d2d30;
}
.carousel-indicators li {
    border-color: #2d2d30;
}
.carousel-indicators li.active {
    background-color: #2d2d30;
}
.icons {
    font-size:40px;
	color: #2d2d30;
    vertical-align:middle;
}
.bg-1 .icons {
    font-size:40px;
	color: #bdbdbd;
    vertical-align:middle;
}
.navbar .icons {
    font-size:20px;
	color: #bdbdbd;
    vertical-align:middle;
}
.youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.youtube iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (max-width: 767px) {
.carousel-caption {
  display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
}
.container {
  padding:20px 20px;
}
.dropdown-menu li a {
  color: #fff !important;
}
}

#myInput {
    background-image: url('../searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 6px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    table-layout: fixed;
    word-wrap: break-word;
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}
