<!DOCTYPE html>
<html lang="en">
<head>
  <title>Decision Deck - XMCDA web services</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="_static/css/bootstrap.min.css">
  <script src="_static/js/jquery.min.js"></script>
  <script src="_static/js/bootstrap.min.js"></script>
  <link href="_static/css/style.css" rel="stylesheet" type="text/css">
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
window.addEventListener("hashchange", function() { scrollBy(0, -60) })
</script>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="//www.decision-deck.org">Decision Deck</a><span class="navbar-brand visible-sm visible-md visible-lg">|</span><a class="navbar-brand visible-md visible-lg" href="//www.decision-deck.org/ws">XMCDA Web Services</a><a class="navbar-brand visible-sm visible-xs" href="//www.decision-deck.org/ws">WS</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">INITIATIVES<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="//www.diviz.org">diviz</a></li>
            <li><a href="//www.decision-deck.org/xmcda">XMCDA</a></li>
            <li><a href="//www.decision-deck.org/ws">XMCDA web services</a></li>
            <li><a href="//www.decision-deck.org/gis">GIS</a></li>
            <li><a href="//www.decision-deck.org/r">R</a></li>
            <hr>
            <li><a href="//www.decision-deck.org/d2">d2</a></li>
            <li><a href="//www.decision-deck.org/d3">d3</a></li>
          </ul>
        </li>
        <li><a href="//www.decision-deck.org/news">NEWS</a></li>
        <li><a href="//www.decision-deck.org/project/events.html">EVENTS</a></li>
        <li><a href="//www.decision-deck.org/project/downloads.html" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Downloads"><span class="glyphicon glyphicon-download icons" ></span></a></li>
        <li><a href="//www.decision-deck.org/project/contact.html" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Contact"><span class="glyphicon glyphicon-envelope icons"></span></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

{{ body }}

</div>

<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p><span class="glyphicon glyphicon-copyright-mark"></span> 2008-2021, Decision Deck Consortium.</p>
</footer>

</body>
</html>


